{# @var craft \craft\web\twig\variables\CraftVariable #}

<nav class="core-nav-links">

    {% for link in navigation.linksRight.all() %}

        <a data-link="{{ link.title | lower }}" href="{{ link.url }}" {% if link.url == url('contact') %}data-router-disabled{% endif %}>{{ link.title }}</a>

    {% endfor %}

</nav>
